@charset "EUC-KR";

/* reset */
body {
    font:normal 16px 'Roboto', sans-serif;
	font-family: SF Pro KR,SF Pro Text,SF Pro Icons,Apple Gothic,HY Gulim,MalgunGothic,HY Dotum,Lexi Gulim,Helvetica Neue,Helvetica,Arial,sans-serif;
	line-height:1.3;
	color:black;
	background-color:#fff;
	margin:0;
	padding:0;
}

h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
	/* box-sizing: border-box; */
}
li {list-style:none;}
a {text-decoration:none;}
a:visited { color: inherit; }
em {font-style:normal}

button {border:none; padding:13px 18px;color: white;font-weight: bold;background-color: #212a2f;}
button:hover {background-color: white;color: #212a2f; outline: 1px solid #212a2f;}

header img {width: 100px;margin: 5px 0 0 5px;}
header {border-bottom: 1px solid rgba(210, 210, 210);}

/* 회원가입 페이지 */
main {margin:0 auto; padding: 30px 50px 0;}
main h1 {margin-bottom: 5px;font-size: 26px; text-align: center; margin-bottom: 10px;}
main em {font-size: 14px; display: block; text-align: center;}
main form {margin: 25px auto; min-width: 80%; }
 form > div {border-bottom: 1px solid rgba(230, 230, 230); padding:30px 0;}
 form > div > div {width: 500px; margin:0 auto;}
 form input {width: 100%; box-sizing: border-box; padding:15px; border:1px solid rgba(210, 210, 210);}
 form label {display: block; font-size: 12px;}
 form .first {padding-top:0;}
 form .name > * {display: inline;}
 form .name > input {width: calc(50% - 10px);}
 form .name > #lastName {margin-left: 15px; margin-bottom: 30px;}
 form .nation label {font-weight: bold; margin-bottom: 2px;}
 form #nation {width: 100%; padding: 15px; border:1px solid rgba(210, 210, 210); margin-bottom: 15px;}
 form #birthDate {width: 100%; padding: 15px;}
 form .email label {margin-top: 5px; color: gray; font-weight: normal;}
 form .password {margin-top: 15px;}
 form .password > * {display: inline;}
 form .password > #passwordConfirm {margin-left: 15px;}
 form .password > input {width: calc(50% - 10px);}
 form .contact {overflow: hidden;}
 form .contact #nationNum {padding: 14px; border:1px solid rgba(210, 210, 210); width: calc(40% - 5px); float: left; margin-right: 10px;}
 form .contact input {width: calc(60% - 5px);}
 form .contact label {color:gray; float: left; margin-top: 5px;}
 form .consentPI input {float: left; width: 20px;} 
 form .consentPI label {float: left; width: calc(100% - 30px);font-size: 12px; vertical-align:middle;} 
 form .consentPI label a {color:steelblue; font-weight: bold; font-size: 14px;}
 form .consentPI {overflow: hidden;}
 form .button {margin-top: 40px;text-align: center;}
 form .button button {padding:13px 30px;}
